/*=================================
        FEATURED PRODUCTS
==================================*/

.featured-products{

    padding:30px;
    background:var(--background);
       margin-top: 30px;
       border-top: 1px solid rgb(204, 202, 202);

}

.featured-products .fp-heading{
    font-size: 24px;
    font-weight: 700;
    font-family: Arial;
}

.product-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
    gap:15px;
    margin-top: 20px;
    background-color: #ffffff;
    padding-top: 5px;
}

/*================ CARD ================*/

.product-card{

    background:#fff;

    border-radius:18px;

    overflow:hidden;

    position:relative;

    /*border:1px solid #ececec;*/


    transition:
    transform .35s;
    cursor: pointer;
}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 10px 25px rgba(0,0,0,.10),
    0 30px 50px rgba(0,0,0,.08);

}

/*================ IMAGE AREA ================*/

.product-card img{
    height:150px;

    margin:15px;
    object-fit:contain;
    width:calc(100% - 30px);
    object-position:center top;

    transition:
    transform .45s ease;
    border-radius: 20px;

}

.product-card:hover img{

    transform:scale(1.08);

}

/*================ BADGE ================*/

.badge{

    position:absolute;

    top:15px;

    left:15px;

    background:#2E7D32;

    color:#fff;

    padding:8px 16px;

    border-radius:50px;

    font-size:12px;

    font-weight:700;

    letter-spacing:.5px;

    z-index:2;

}

.sale{

    background:#e53935;

}

/*================ INFO ================*/

.product-info{

    padding:22px;

}

.product-info small{

    display:block;

    color:#888;

    font-size:13px;

    margin-bottom:8px;

    text-transform:uppercase;

    letter-spacing:.8px;
    margin-top: 10px;

}

.product-info .product-Name{

    font-size:18px;

    font-weight:400;

    color:#91631f;

    line-height:1.4;

    margin-bottom:8px;

    min-height:54px;

}

/*================ PRICE ================*/

.price{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:22px;

}

.current{

    color:var(--zyaco-bg);

    font-size:26px;

    font-weight:700;

}

.old{

    color:#999;

    font-size:15px;

    text-decoration:line-through;

}

/*================ BUTTON ================*/

.product-card button{

    width:100%;

    height:48px;
    border: none;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;

    border-radius:10px;

    background:transparent;

    color:var(--zyaco-bg);

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.product-card button:hover{

    background:var(--zyaco-bg);
    color: #fff;

    transform:translateY(-2px);

}

/*================ MOBILE ================*/

@media(max-width:768px){

.hero{
margin-top: 200px;

}
.product-grid{

    grid-template-columns:1fr;

    gap:15px;
 

}

.product-card{
    padding: 10px;
}

.product-card img{

    height:190px;
    object-fit:cover;
    object-position: center center;
    border-radius: 2px;

}

.product-info{

    padding:16px;

}

.product-info h3{

    font-size:17px;

    min-height:48px;

}

.current{

    font-size:22px;

}

}