.product-container{


width:95%;

margin:30px auto;

display:grid;

grid-template-columns:350px 1fr;

gap:25px;


}



.card{


background:white;

padding:25px;

border-radius:16px;

box-shadow:
0 8px 25px rgba(0,0,0,.08);


}



.card h2{


margin-bottom:20px;

color:var(--primary);


}



.card label{


display:block;

margin-top:15px;

margin-bottom:7px;


}



.card input,
.card select{


width:100%;

padding:12px;

border:1px solid var(--border);

border-radius:10px;


}




#saveProduct{


margin-top:25px;

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:var(--primary);

color:white;

cursor:pointer;


}



table{


width:100%;

border-collapse:collapse;


}



th,
td{


padding:12px;

border-bottom:1px solid #eee;

text-align:left;


}



#productSearch{


margin-bottom:20px;


}




@media(max-width:900px){


.product-container{


grid-template-columns:1fr;


}


}